type adspd, domain;
type adspd_exec, exec_type, file_type;
init_daemon_domain(adspd)

allow adspd adspd_device:chr_file { open read write ioctl };
allow adspd input_device:dir search;
allow adspd input_device:chr_file { open read ioctl };
allow adspd sysfs_adspd:file { open read write };
allow adspd system_data_file:dir { search write add_name };
allow adspd system_data_file:file { read write };
