allow mm-qcamerad audio_device:chr_file { read write };
allow mm-qcamerad camera_socket:chr_file { read write };
allow mm-qcamerad graphics_device:dir search;
allow mm-qcamerad graphics_device:chr_file { open read write ioctl };
allow mm-qcamerad mpdecision:unix_stream_socket connectto;
allow mm-qcamerad socket_device:sock_file write;
allow mm-qcamerad system_data_file:sock_file create;
type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket0";
