allow mm-qcamerad graphics_device:dir search;
allow mm-qcamerad graphics_device:chr_file { open read write ioctl };
type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket0";
