typeattribute rmt_storage rmt_placeholder;
allow rmt_storage firmware_file:file { read open };
allow rmt_storage kmem_device:chr_file { read write open };
allow rmt_storage self:capability sys_rawio;
