[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	owner = group Administrators
	create = group motorola-msm8960dt
	label-Code-Review = -2..+2 group motorola-msm8960dt
	label-Verified = -1..+1 group motorola-msm8960dt
	rebase = group motorola-msm8960dt
	submit = group motorola-msm8960dt
