# Copyright (c) 2012, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on early-init
    mkdir /firmware 0771 system system
    symlink /data/tombstones /tombstones
    mkdir /persist 0771 system system
    # Create PDS mount point
    mkdir /pds 0755 root root

    # Create modem FSG mount point
    mkdir /fsg 755 root root

on init
    # CM: We use our own ril-daemon service definition, see mmi-ril-daemon
    stop ril-daemon

# Mount point for Digital Personalization partition
    mkdir /customize 0500 root root

on early-boot
# Define Motorola DBVC ATVC Property defaults (failsafe properties)
    setprop ro.sys.atvc_allow_netmon_usb 0
    setprop ro.sys.atvc_allow_netmon_ih 0
    setprop ro.sys.atvc_allow_res_core 0
    setprop ro.sys.atvc_allow_res_panic 0
    setprop ro.sys.atvc_allow_all_adb 0
    setprop ro.sys.atvc_allow_all_core 0
    setprop ro.sys.atvc_allow_efem 0
    setprop ro.sys.atvc_allow_bp_log 0
    setprop ro.sys.atvc_allow_ap_mot_log 0
    setprop ro.sys.atvc_allow_simswap 0

on charger
    trigger early-fs
    trigger fs
    trigger post-fs
    trigger post-fs-data
    trigger property_service_init
    trigger start-charging

on start-charging
   # Permissions for battery health daemon
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_real_fcc_batt_temp
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_real_fcc_mah
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_soc
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_ocv_uv
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_rbatt
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_charge_increase
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_chargecycles
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/bms_aged_capacity
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/bms_aged_capacity_temp
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/bms_chrg_capacity
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/bms_chrg_capacity_temp
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/chrg_timestamp
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/timestamp
    chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/pcb_temp

   # Permissions for Factory Test of Charging Paths
    chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_auto_enable
    chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_ibatt
    chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_itrick
    chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_iusb
    chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_usb_suspend
    chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_fail_clear
    start batt_health
    start qcom-post-boot
    # Prepare for charger mode
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpu1/online 0

on property:ro.modem.no_wdog_chk=1
   write /sys/module/modem_8960/parameters/no_wdog_chk 1

    # Create PDS mount point
    mkdir /pds 0755 root root

on fs
    # Mount system so that recover userdata is available
    wait /dev/block/platform/msm_sdcc.1/by-name/system
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/system /system ro barrier=1

    # Mount modem FSG partition
    wait /dev/block/platform/msm_sdcc.1/by-name/fsg
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/fsg /fsg ro nosuid nodev barrier=0

    #Mount customize partion
    wait /dev/block/platform/msm_sdcc.1/by-name/customize
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/customize /customize ro discard nosuid nodev noatime nodiratime noexec

    chown radio radio /dev/mot_hob_ram
    chmod 0660 /dev/mot_hob_ram

    # Set correct permissions for HOB, DHOB, CID Partitions and CLOGO Partitions
    exec /system/bin/chmod -L 660 /dev/block/platform/msm_sdcc.1/by-name/hob
    exec /system/bin/chmod -L 660 /dev/block/platform/msm_sdcc.1/by-name/dhob
    exec /system/bin/chmod -L 660 /dev/block/platform/msm_sdcc.1/by-name/cid
    exec /system/bin/chmod -L 660 /dev/block/platform/msm_sdcc.1/by-name/clogo
    exec /system/bin/chown -L root:radio /dev/block/platform/msm_sdcc.1/by-name/hob
    exec /system/bin/chown -L root:radio /dev/block/platform/msm_sdcc.1/by-name/dhob
    exec /system/bin/chown -L root:mot_dbvc /dev/block/platform/msm_sdcc.1/by-name/cid
    exec /system/bin/chown -L root:mot_tcmd /dev/block/platform/msm_sdcc.1/by-name/clogo

    # Mount modem immediately after system and trigger modem boot
    # to speed up modem initialization
    wait /dev/block/platform/msm_sdcc.1/by-name/modem
    exec /system/bin/resize2fs /dev/block/platform/msm_sdcc.1/by-name/modem
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/modem /firmware ro nosuid nodev barrier=0
    start bootmodem

    # Mount userdata -- userdata must in fstab.<ro.hardware> in order to
    # have functional encryption
    wait /dev/block/platform/msm_sdcc.1/by-name/userdata
    mount_all /fstab.qcom

    # Keeping following partitions outside fstab file. As user may not have
    # these partition flashed on the device. Failure to mount any partition in fstab file
    # results in failure to launch late-start class.
    wait /dev/block/platform/msm_sdcc.1/by-name/cache
    exec /system/bin/e2fsck -y /dev/block/platform/msm_sdcc.1/by-name/cache
    exec /system/bin/logwrapper /system/bin/mount_ext4.sh cache /dev/block/platform/msm_sdcc.1/by-name/cache /cache

    wait /dev/block/platform/msm_sdcc.1/by-name/persist
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/persist /persist nosuid nodev barrier=1

    restorecon /persist
    restorecon /persist/.bt_nv.bin
    restorecon /persist/WCNSS_qcom_wlan_nv.bin
    restorecon /persist/drm/widevine
    restorecon /persist/drm/widevine/5dsokxEEDXgQhkN50bp-Z2K5InM_
    restorecon /persist/drm/widevine/5dsokxEEDXgQhkN50bp-Z2K5InM_/RXFABDUxyT6Q+Zwx9ZhPGOq2Bq8_
    restorecon /persist/drm/widevine/5dsokxEEDXgQhkN50bp-Z2K5InM_/Y4Nj+fDlt0uaX0xnzOj1AjymTvQ_

on post-fs
# Enable Cifs module
    insmod /system/lib/modules/cifs.ko
    restorecon /data/media /data/media/0 /data/media/legacy /data/media/obb
    exec /system/bin/restorecon -R /data/misc/wifi
    exec /system/bin/restorecon -R /data/hostapd

    chmod 755 /system/etc/init.crda.sh
    chmod 755 /system/etc/init.qcom.bt.sh
    chmod 755 /system/etc/init.qcom.coex.sh
    chmod 755 /system/etc/init.qcom.efs.sync.sh
    chmod 755 /system/etc/init.qcom.mdm_links.sh
    chmod 755 /system/etc/init.qcom.modem_links.sh
    chmod 755 /system/etc/init.qcom.post_boot.sh
    chmod 755 /system/etc/init.qcom.sdio.sh
    chmod 755 /system/bin/moto_com.sh

    # Mount PDS
    wait /dev/block/platform/msm_sdcc.1/by-name/pds
    exec /system/bin/mount_pds.sh

    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/system /system ro remount

on boot
   # setup trace dir
   mkdir /cache/trace 0777 root shell
   chown root shell /cache/trace
   chmod 0777 /cache/trace

   mount debugfs /sys/kernel/debug /sys/kernel/debug
   chown system system /sys/kernel/debug
   chmod 0770 /sys/kernel/debug

   # initialize kernel dynamic debugging settings
   copy /system/etc/debug_control.conf /sys/kernel/debug/dynamic_debug/control

   # Backup ramconsole on abnormal reboot.
   copy /proc/last_kmsg /data/dontpanic/last_kmsg
   chown root log /data/dontpanic/last_kmsg
   chmod 0640 /data/dontpanic/last_kmsg
   write /sys/devices/i2c-3/3-0024/cyttsp_update_fw 1
   write /sys/devices/i2c-3/3-005b/update_fw 1
   start qcamerasvr

   # Backlight permissions
   chown system system /sys/class/backlight/lcd-backlight/brightness
   chown system system /sys/class/backlight/lcd-backlight/max_brightness
   chown system system /sys/class/leds/shift-key-light/brightness
   chown system system /sys/class/leds/keyboard-backlight/brightness
   chown system system /sys/class/leds/red/brightness
   chown system system /sys/class/leds/green/brightness
   chown system system /sys/class/leds/blue/brightness
   chown system system /sys/class/leds/red/blink
   chown system system /sys/class/leds/charging/brightness
   chown system system /sys/class/leds/button-backlight/brightness

    # Torch
    chown system system /sys/class/leds/torch-flash/flash_light
    chmod 0666 /sys/class/leds/torch-flash/flash_light
			
   # Change leds permissions for factory
   chmod 0664 /sys/class/backlight/lcd-backlight/brightness
   chmod 0664 /sys/class/backlight/lcd-backlight/max_brightness
   chmod 0664 /sys/class/leds/shift-key-light/brightness
   chmod 0664 /sys/class/leds/keyboard-backlight/brightness
   chmod 0664 /sys/class/leds/red/brightness
   chmod 0664 /sys/class/leds/blue/brightness
   chmod 0664 /sys/class/leds/green/brightness
   chmod 0664 /sys/class/leds/red/blink
   chmod 0664 /sys/class/leds/charging/brightness
   chmod 0664 /sys/class/leds/button-backlight/brightness

   # Change permission and ownership of hdcp
   chown system system /sys/devices/virtual/graphics/fb1/hdcp_en
   chmod 0664 /sys/devices/virtual/graphics/fb1/hdcp_en
   chown system system /sys/devices/virtual/graphics/fb1/hdcp
   chmod 0664 /sys/devices/virtual/graphics/fb1/hdcp

   # AP<->MSP IPC
   chown system system /sys/class/gpio/gpio161/value
   chown system system /sys/class/gpio/gpio162/value
   chown system system /sys/class/gpio/gpio163/value
   chmod 0664 /sys/class/gpio/gpio161/value
   chmod 0664 /sys/class/gpio/gpio162/value
   chmod 0664 /sys/class/gpio/gpio163/value

   # PWM Control for screen backlight
   chmod 0664 /sys/class/backlight/lcd-backlight/device/pwm
   chown system system /sys/class/backlight/lcd-backlight/device/pwm

   # Change the ownership of touch screen files
   chown root input /sys/bus/i2c/drivers/melfas-ts/3-0048/irq_enabled
   chown root input /sys/bus/i2c/drivers/melfas-ts/3-0048/hw_irqstat
   chown root system /sys/bus/i2c/drivers/cyttsp3-i2c/3-003b/drv_irq
   chown root system /sys/bus/i2c/drivers/atmxt-i2c/3-004a/drv_irq
   chown root system /sys/bus/i2c/drivers/synaptics_dsx_i2c/3-0020/drv_irq
   chown root system /sys/bus/i2c/drivers/synaptics_dsx_i2c/3-0020/hw_irqstat
   chown root system /sys/bus/i2c/drivers/synaptics_dsx_i2c/3-0020/reset

   # Change permissions for Enabling/Disabling toush screen IRQ
   chmod 0660 /sys/bus/i2c/drivers/melfas-ts/3-0048/irq_enabled
   chmod 0660 /sys/bus/i2c/drivers/cyttsp3-i2c/3-003b/drv_irq
   chmod 0660 /sys/bus/i2c/drivers/atmxt-i2c/3-004a/drv_irq

   # Change permissions for the MELFAS touch IC reset line
   chmod 0660  /sys/bus/i2c/devices/3-0048/drv_reset
   chown system system /sys/bus/i2c/devices/3-0048/drv_reset

   # Change permissions for vibrator enable
   chmod 0660 /sys/class/timed_output/vibrator/enable

   # Change permissions for the factory kill switch
   chmod 0660   /sys/class/gpio/gpio75/value
   chown system system  /sys/class/gpio/gpio75/value

   chmod 0660   /sys/class/graphics/fb0/acl_mode
   chown system system  /sys/class/graphics/fb0/acl_mode

   chmod 0660   /sys/class/graphics/fb0/elvss_tth_status
   chown system system  /sys/class/graphics/fb0/elvss_tth_status

   chmod 0220   /sys/class/graphics/fb0/te_enable
   chown system system /sys/class/graphics/fb0/te_enable

   chmod 0440   /sys/class/graphics/fb0/frame_counter
   chown system system /sys/class/graphics/fb0/frame_counter

   # Change pn544_control_dev permission
   chown nfc nfc /sys/devices/virtual/misc/pn544/pn544_control_dev
   chmod 0660 /sys/devices/virtual/misc/pn544/pn544_control_dev

   # Create 12m directory that TCMD can write to
    mkdir /data/local/12m 0755 system shell


   # Create moodle directory that MOT_MOODLE can write to
    mkdir /data/local/moodle 0770 graphics system

# create the necessary data dirs for tpapi with proper permission
    mkdir /dev/tpapi 02770 mot_tpapi mot_tpapi
    mkdir /data/tpapi 02770 mot_tpapi mot_tpapi
    mkdir /data/tpapi/etc 02770 mot_tpapi mot_tpapi
    mkdir /data/tpapi/etc/tpa 02770 mot_tpapi mot_tpapi
    mkdir /data/tpapi/etc/tpa/persistent 02770 mot_tpapi mot_tpapi

   # Permissions for sensors
   chown system system /sys/module/ct406/parameters/als_enable
   chmod 0660 /sys/module/ct406/parameters/als_enable
   chown system system /sys/module/ct406/parameters/prox_enable
   chmod 0660 /sys/module/ct406/parameters/prox_enable
   chown system system /sys/module/ct406/parameters/als_delay
   chmod 0660 /sys/module/ct406/parameters/als_delay

   # Create directory used by power_supply logger
   mkdir /data/power_supply_logger 0750 mot_pwric log

    # Setup folder for aplogd
    mkdir /data/aplogd 0750 log log

    # Setup folders for diag_mdlog
    mkdir /data/diag_mdlog 0750 system log
    mkdir /data/diag_mdlog/logs 0750 log log

    # Create folder for native & kernel to write to DropBox.  See NativeDropBoxAgent.java for
    # an explanation of why these permissions are chosen.
    mkdir /data/system/dropbox-add 0730 system diag

   # Audio DSP permissions
   chown audio audio /dev/ttyHS3
   chown audio audio /sys/devices/platform/c55_ctrl/gpio_ap_int/edge
   chown audio audio /sys/devices/platform/c55_ctrl/gpio_ap_int/value
   chown audio audio /sys/devices/platform/c55_ctrl/gpio_c55_int/value
   chown audio audio /sys/devices/platform/c55_ctrl/gpio_core/value
   chown audio audio /sys/devices/platform/c55_ctrl/gpio_reset/value
   mkdir /data/adspd/ 0770 audio audio
   mkdir /data/adspd/1 0770 audio audio

   # MSP430 driver parameter permissions
   chown mot_tcmd mot_tcmd /sys/module/msp430/parameters/irq_disable
   chmod 0660 /sys/module/msp430/parameters/irq_disable

   # dropbox driver interface permissions
   chown root diag /sys/kernel/dropbox/event
   chown root diag /sys/kernel/dropbox/data

# Define TCP buffer sizes for ethernet
#   ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.ethernet    131072,262144,524288,4096,16384,131072

#   Define TCP buffer sizes for various networks
#   ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 131072,262144,655360,4096,16384,147456
    setprop net.tcp.buffersize.wifi    131072,262144,3461120,4096,221184,3461120
    setprop net.tcp.buffersize.umts    131072,262144,726016,4096,16384,199680
    setprop net.tcp.buffersize.hspa    131072,262144,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hsupa   131072,262144,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hsdpa   131072,262144,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.hspap   131072,262144,1572864,4096,16384,1572864
    setprop net.tcp.buffersize.edge    16384,32768,65536,4096,16384,32768
    setprop net.tcp.buffersize.gprs    4096,8192,12288,4096,8192,12288
    setprop net.tcp.buffersize.lte     524288,1048576,4194304,262144,524288,2097152
    setprop net.tcp.buffersize.cdma    4096,12288,24576,4096,12288,24576
    setprop net.tcp.buffersize.evdo    131072,262144,524288,4096,16384,262144
    setprop net.tcp.buffersize.evdo_b  131072,262144,704512,4096,16384,262144

on post-fs-data
   setprop installd.post_fs_data_ready 1

   mkdir /data/misc/ril 0750 radio radio
   mkdir /data/misc/ril/bp-dumps 0750 radio log

   # Subsystem RAM-dumps
   mkdir /data/ss-ram-dumps 0750 log log
   mkdir /data/ss-ram-dumps/bp-dumps 0750 radio log
   mkdir /data/ss-ram-dumps/riva-dumps 0750 radio log

   # ad@m
   mkdir /data/adam 0750 radio diag

   # Setup correct permissions for /pds/public
    mkdir /pds/public/atvc 0770 mot_atvc shell
    chmod 0770 /pds/public/atvc
    mkdir /data/local/dbvc 0750 system shell
    mkdir /data/local/atvc 0775 system shell

   mkdir /data/tombstones 0771 system system
   mkdir /tombstones/modem 0771 system system
   mkdir /tombstones/lpass 0771 system system
   mkdir /tombstones/wcnss 0771 system system
   mkdir /tombstones/dsps 0771 system system
   mkdir /tombstones/mdm 0771 system system
   mkdir /tombstones/mdm2 0771 system system

   # Set correct permissions for UTAGS
   exec /system/bin/chown -L mot_tcmd:system /dev/block/platform/msm_sdcc.1/by-name/utags
   exec /system/bin/chmod -L 0660 /dev/block/platform/msm_sdcc.1/by-name/utags

# backup directory for omadm
    mkdir /pds/public/omadm 0700 radio radio
    chmod 0700 /pds/public/omadm

# directory for encryption management tool, enc_mgt_tool
    mkdir /data/emt
    chown root system /data/emt
    chmod 0770 /data/emt
   # Permissions for battery health daemon
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_real_fcc_batt_temp
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_real_fcc_mah
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_soc
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_ocv_uv
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_rbatt
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_charge_increase
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/last_chargecycles
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/bms_aged_capacity
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/bms_aged_capacity_temp
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/bms_chrg_capacity
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/bms_chrg_capacity_temp
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/chrg_timestamp
    chown mot_pwric mot_pwric /sys/module/pm8921_bms/parameters/timestamp
    chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/pcb_temp

   # Permissions for Factory Test of Charging Paths
    chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_auto_enable
    chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_ibatt
    chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_itrick
    chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_iusb
    chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_usb_suspend
    chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_fail_clear
    chown mot_pwric mot_pwric /sys/devices/platform/msm_ssbi.0/pm8921-core/pm8921-charger/force_chg_vinmin

    start batt_health
    exec /system/bin/sh /system/bin/moto_com.sh

#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
        class core
        user camera
        group camera system inet input graphics net_bt_stack

#start Sensor daemon
service msp430 /system/bin/msp430 boot
   class core
   user compass
   group compass misc input
   oneshot

service adspd /system/bin/adspd /dev/ttyHS3
   class late_start
   socket adspdsock stream 0660 system audio
   user audio
   group audio input diag

service thermald /system/bin/thermald
   class main
   user root
   group root
   disabled

on property:qcom.thermal=thermald
    start thermald

service mpdecision /system/bin/mpdecision --no_sleep --avg_comp
   user root
   group root system
   disabled

service qrngd /system/bin/qrngd -f
    class main
    user root
    group root

service qseecomd /system/bin/qseecomd
    class late_start
    user system
    group system

service batt_health /system/bin/batt_health
    class main
    group mot_pwric

# Start kickstart if mdm is detected
on property:ro.baseband=mdm
    mkdir /data/qcks 0770 system system
    start kickstart

service atvc_core /system/bin/dbvc_atvc_property_set
    class core
    user mot_atvc
    group mot_tpapi
    oneshot

service atvc /system/bin/dbvc_atvc_property_set
    class late_start
    user mot_atvc
    group mot_tpapi
    oneshot

on property:sys.boot_completed=1
    start mmi-touch-sh

service qdumpd /system/bin/qdumpd
    class main
    user radio
    group log sdcard_rw sdcard_r diag

on property:persist.sys.qc.sub.rdump.on=*
    write /sys/module/subsystem_restart/parameters/enable_ramdumps ${persist.sys.qc.sub.rdump.on}

on property:persist.sys.qc.sub.rstrtlvl=*
    write /sys/module/subsystem_restart/parameters/restart_level ${persist.sys.qc.sub.rstrtlvl}

# aplogd on at boot in emulator
on property:ro.kernel.qemu=1
    start aplogd

on property:persist.log.aplogd.enable=1
    start aplogd

on property:persist.log.aplogd.enable=0
    stop aplogd

service aplogd /system/bin/aplogd
    class main
    #user log
    #group log system sdcard_rw sdcard_r media_rw mount
    # The user and group definitions above are intentionally disabled and left
    # only as documentation. It actually starts as root and immediately drops
    # to log plus those groups after preserving CAP_SYS_ADMIN, which is required
    # for kernel logging.
    disabled

on property:persist.sys.diag_mdlog.on=1
    start diag_mdlog

on property:persist.sys.diag_mdlog.on=0
    stop diag_mdlog

service diag_mdlog /system/bin/diag_mdlog-wrap
    class main
    socket mdlog_cmd stream 0660 system diag
    user log
    group log sdcard_rw sdcard_r media_rw qcom_diag
    disabled

service modemlog /system/bin/modemlog
   class core
   user system
   group system log
   oneshot

on property:ro.debuggable=1
   chmod 0775 /sys/kernel/debug
    # Allow others to read ftrace.
    chmod 0771 /sys/kernel/debug/tracing
    chmod 0664 /sys/kernel/debug/tracing/trace
    # Allow unprivileged users to read the kernel log
    write /proc/sys/kernel/dmesg_restrict 0
    # Enable memkill event trace
    write /sys/kernel/debug/tracing/tracing_on 1
    write /sys/kernel/debug/tracing/events/memkill/enable 1
    # Enable GPU mmu pagefault debug logging
    write /sys/kernel/debug/kgsl/kgsl-3d0/ib_dump_on_pagefault 1

on property:ro.secure=0
    # Allow dumping of setuid tasks
    write /proc/sys/fs/suid_dumpable 2

service ftmipcd /system/bin/ftmipcd
    user radio
    group radio inet qcom_diag
    disabled
    oneshot

on property:ro.bootmode=factory
    start ftmipcd

# DHCP service for Ethernet
service dhcpcd_eth0 /system/bin/dhcpcd -G
    class late_start
    disabled
    oneshot

service time_daemon /system/bin/time_daemon
   class late_start
   user root
   group root

service iprenew_eth0 /system/bin/dhcpcd -nBK
    class late_start
    disabled
    oneshot

service bootmodem /system/bin/bootmodem
    class main
    user shell
    group log
    disabled
    oneshot

service wcnss-service /system/bin/wcnss_service
    class late_start
    user system
    group system wifi
    oneshot

service mmi-boot-sh /system/bin/logwrapper /system/bin/sh /init.mmi.boot.sh
    class core
    user root
    oneshot

# Touch firmware upgrade
service mmi-touch-sh /system/bin/logwrapper /system/bin/sh /init.mmi.touch.sh
    user root
    oneshot
    disabled

on boot
    start thermald

on property:installd.post_fs_data_ready=1
    # Migration script for sdcard emulation in the kernel
    exec /system/bin/refuse

# Disable BAM Adaptive Timer when Tethering is on.
on property:net.tethering.on=1
   write /sys/module/bam_dmux/parameters/adaptive_timer_enabled 0

# Enable BAM Adaptive Timer when Tethering is off.
on property:net.tethering.on=0
   write /sys/module/bam_dmux/parameters/adaptive_timer_enabled 1

service hw_revs /system/bin/logwrapper /system/bin/hardware_revisions.sh
   class main
   user system
   group system
   oneshot

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1

service mmi-ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    socket cutback stream 660 media radio
    user root
    group radio cache inet misc audio sdcard_rw qcom_oncrpc qcom_diag log net_raw diag
