<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cyanogenmod.doze"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <application
        android:label="MotoDoze"
        android:process="com.android.systemui">

        <activity
                  android:excludeFromRecents="true"
                  android:name="MotoDoze"
                  android:label="MotoDoze"
                  android:launchMode="singleInstance"
                  android:screenOrientation="portrait"
                  android:theme="@style/MotoDozeTheme"
                  android:windowAnimationStyle="@null">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>

</manifest>
